<div class="ChatRoom panel panel-primary">
    
   <div class="panel-heading">
      <div class="panel-title"> 
        <%= chat_room.name %> 
        <div class="pull-right">(created by <%= chat_room.members.first.name %>)</div>
      </div>
   </div>

   <div class="row">
     <div class="col-md-4 frame-right">
       <div>
         <% unless chat_room.members.member?(client.user) %>
           <button class="btn btn-default pull-right JoinRoom" 
                   type="button"
                   data-trigger-event="JoinRoom"
                   data-param-room="${new ChatRoom(<%= chat_room.id %>)}">
             <span class="glyphicon glyphicon-plus pull-right JoinRoom"></span>
           </button>
         <% end %>
         <div class="sec-title">members</div>
       </div>
       <% chat_room.members.each do |user| %>
         <div class="User status"><%=user.name%></div>
       <% end %>
     </div>

     <div class="col-md-8">
       <div class="sec-title">messages</div>

       <ul class="list-group">
         <%= render chat_room.messages %>
       </ul>

     </div>     
   </div>

   <!-- <div class="panel panel-default"> -->
   <!--   <div class="posts-title panel-heading">Posts:</div> -->
   <!--   <div class="posts panel-body"> -->
   <!--   </div> -->
   <!-- </div> -->

   <form role="form" class="SendMsgForm form-inline" id="send-msg-form">
     <% msg_fld_id = "ch-input-#{chat_room.id}" %>
     <div class="form-group">
       <input id="<%= msg_fld_id %>" type="text" name="text"
              class="form-control" placeholder="Enter message"/> 
     </div>
     <button class="btn btn-default SendMsg" 
             type="button"
             data-trigger-event="SendMsg"
             data-param-msgText="${$('#<%= msg_fld_id %>').val()}"
             data-param-room="${new ChatRoom(<%= chat_room.id %>)}">
       Send</button>
   </form>
</div>
