<div class="ChatRoom panel panel-primary">

   <div class="panel-heading">
      <div class="panel-title">
        <%= chat_room.name %>
        <div class="pull-right">(created by <%= chat_room.members.first.name rescue '?' %>)</div>
      </div>
   </div>

   <div class="row">
     <div class="col-md-4 frame-right">
       <%= render :partial => "room_members", :locals => {:chat_room => chat_room} %>
     </div>

     <div class="col-md-8">
       <div class="sec-title">messages</div>
       <ul class="list-group">
         <%= render chat_room.messages %>
       </ul>
     </div>
   </div>

   <form role="form" class="SendMsgForm form-inline" id="send-msg-form" onkeypress="return event.keyCode != 13;">
     <% msg_fld_id = "ch-input-#{chat_room.id}" %>
     <div class="form-group">
       <input id="<%= msg_fld_id %>" type="text" name="text"
              class="form-control" placeholder="Enter message"/>
     </div>
     <button class="btn btn-default SendMsg"
             type="button"
             data-trigger-event="SendMsg"
             data-param-msgText="${$('#<%= msg_fld_id %>').val()}"
             data-param-room="${new ChatRoom(<%= chat_room.id %>)}">
       Send</button>
   </form>
</div>
