 <div class="navbar navbar-inverse">
   <div class="container" style="height: 0px">
     <div id="app-title" class="navbar-header attach-left">
       <a class="navbar-brand" href="#">
         <%= image_tag "/assets/sunny-48.png", width: "48px" %> 
         Sunny IRC
       </a>
     </div>
   </div>
   <div class="container">
     <%= render client.user unless client.user.nil? %>
   </div>
 </div>

   <div class="container" style="height: 0px">
     <div id="online-users" class="attach-left" >
       <%= render "online_users" %><br/>
     </div>
   </div>
   <div class="container">
     <div id="chatroom-container" class="row">
       <%= render "irc" %><br/>
       <%= render "red/status" %>
                 <ul id="my-tab" class="nav nav-tabs">
            <li class="active"><a href="#" data-target="#record-classes">Record Classes</a></li>
            <li>               <a href="#" data-target="#event-classes">Event Classes</a></li>
            <li>               <a href="#" data-target="#chat-rooms">Rooms 33</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="record-classes">
              <%= render "mbui/aleks/record_lst" %>
            </div>
            <div class="tab-pane" id="event-classes">
              <%= render "mbui/aleks/event_lst" %>
            </div>
            <div class="tab-pane" id="chat-rooms">
              <%= render :collection => ChatRoom.all, 
                         :partial    => "mbui/aleks/record",
                         :as         => "record", 
                         :locals     => {"fields" => ["messages"]}%>
            </div>
          </div>

          <script>
            $(function () {
              $('#my-tab a').on("click", function(e) {
                e.preventDefault();
                $(this).tab("show");
              });
            })
          </script>
     </div>
   </div>
